<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load tags %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>INFORMATION - KIOSK </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="shortcut icon" href="{% static 'images/logo/logo.png' %}" type="image/x-icon" />
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'landingpage/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'landingpage/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'landingpage/assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'landingpage/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'landingpage/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'landingpage/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/datatables.css' %}">
  <!-- Template Main CSS File -->
  <link href="{% static 'landingpage/assets/css/main.css' %}" rel="stylesheet">
  <!-- =======================================================
  * Template Name: UpConstruction
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'landingpage' %}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Information Kiosk<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'landingpage' %}">Home</a></li>
          <li><a href="{% url 'proceed' %}" class="active">Category</a></li>
          <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="{% url 'FrontlineServices' %}">Frontline Services</a></li>
              <li><a href="#">Non-Frontline Services</a></li>
              <li><a href="{% url 'vacancies' %}">Vacancies</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('{% static 'landingpage/assets/img/services/AICS3.jpg' %}');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Services</h2>
        <ol>
          <li><a href="{% url 'landingpage' %}"><i class="fa-solid fa-arrow-left"></i> BACK TO HOME </a></li>
          <li>Services</li>
        </ol>

      </div>
      
    </div><!-- End Breadcrumbs -->

    <!-- ======= Services Section ======= -->

    <section id="services" class="services section-bg">
      
      <div class="container" data-aos="fade-up">
        <ul class="nav nav-tabs row  g-2 d-flex">
    
          <li class="nav-item col-6">
            <a class="nav-link active show text-dark" data-bs-toggle="tab" data-bs-target="#tab-1">
              <h4>Select Services</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item col-6">
            <a class="nav-link text-dark" data-bs-toggle="tab" data-bs-target="#tab-2">
              <h4>Search Services</h4>
            </a><!-- End tab nav item -->
        </ul>
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <br>
            <div class="row">
              <div class="col-lg-12 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <div class="row gy-4">
                  <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item  position-relative">
                      <div class="icon">
                        <i class="fa-solid fa-mountain-city"></i>
                      </div>
                      <h3>Frontline Services</h3>
                      <p>Frontline Services of DSWD FO Caraga.</p>
                      <a href="{% url 'FrontlineServices' %}" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
                    </div>
                  </div><!-- End Service Item -->
          
          
                  <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="600">
                    <div class="service-item position-relative">
                      <div class="icon">
                        <i class="fa-solid fa-arrow-up-from-ground-water"></i>
                      </div>
                      <h3>Non-Frontline Services</h3>
                      <p>Non-Frontline Services of DSWD FO Caraga</p>
                      <a href="{% url 'NonFrontlineServices' %}" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
                    </div>
                  </div><!-- End Service Item -->
                </div>
              </div>
            </div>
          </div><!-- End tab content item -->
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-12 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <br>
                <div class="card">
                  <div class="card-body">
                    <table class="table table-sm table-bordered table-hover w-100" id="files">
                      <thead>
                          <th class="text-center" style="width:100%;">See File</th>
                          <th class="text-center" style="width:100%;">Division</th>
                          <th style="width:250px;">Type of services</th>
                          <th style="width:50px;">Title</th>
                      </thead>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End tab content item -->
        </div>
      </div>
    </section>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>INFORMATION KIOSK</h3>
              <p>
                Developer: Allen Efren O. Hilado <br>
                Brgy 6, Nasipit<br><br>
                <strong>Phone:</strong> 09487418673<br>
                <strong>Email:</strong> aeohilado@dswd.gov.ph<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End footer info column-->


        </div>
      </div>
    </div>
    <div class="modal fade bd-example-modal-xl" id="editDirectory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
          <div class="modal-content">
              {% csrf_token %}
              <div class="modal-body" id="load_data">
              </div>
          </div>
      </div>
    </div>
    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>RICTMS</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Developed by: Allen Efren O. Hilado</a>
        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'landingpage/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'landingpage/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'landingpage/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'landingpage/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'landingpage/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'landingpage/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'landingpage/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>

  <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
  <script src="{% static 'js/sweet-alert/sweetalert2.all.min.js' %}"></script>

  <script src="{% static 'js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/datatable/datatables/datatable.custom.js' %}"></script>
  <!-- Template Main JS File -->
  <script src="{% static 'landingpage/assets/js/main.js' %}"></script>
  <script>

    $('#files').DataTable({
      'serverSide': true,
      'processing': true,
      'deferRender': true,
      'lengthMenu': [ 20, 25, 50, 100 ],
      'order': [[ 1, 'desc' ]],
      'bDestroy': true,
      'ajax': {
          
          'url': '/api/created_post/createdpostviews/?format=datatables',
          'type': 'GET',
      },
      'fnCreatedRow': function (row, data, index) {
          $(row).attr('id', data['id']);
      },
      'columns': [
          {'data': 'id',
              'render': function(data, type, row, meta) {
                  return "<a href='javascript:void(0);' data-role='details' data-id='"+ row['id'] + "'>See Files</a>"
              },
              'searchable': false,
              'sortable': false
          },
          {'data': 'title','name':'title.title'},
          {'data': 'services_type','name':'title.services_type'},
          {'data': 'title_text'},

      ]
  });
  $(document).on('click','a[data-role=details]', function(){ // FOR MODAL SUMMARY
    var id = $(this).data('id');
    $('#editDirectory').modal('show').find('#load_data').load('/modalforpdfviewing/' + $(this).data('id'));
  });
  </script>
  {% comment %} <script type="text/javascript">
    (function(){
       setTimeout(function(){
         window.location="{% url 'landingpage' %}";
       },2000); /* 1000 = 1 second*/
    })();
    </script> {% endcomment %}
</body>

</html>