<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Assistance to Individuals in Crisis Situation Harmonized Electronic Processing System." />
        <link rel="shortcut icon" href="{% static 'images/logo/logo.png' %}" type="image/x-icon" />
        <title>KIOSK - login</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/icofont.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/themify.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/flag-icon.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/feather-icon.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <link id="color" rel="stylesheet" href="{% static 'css/color-1.css' %}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" />
    </head>
    <body>
        <!-- login page start-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-5"><img class="bg-img-cover bg-center" src="{% static 'images/login/infokiosk.jpg' %}" alt="loginpage" /></div>
                <div class="col-xl-7 p-0">
                    <div class="login-card">
                        <div>
                            <div class="login-main">
                                <center><img class="img-fluid for-light" src="{% static 'images/logo/logo-kiosk.jpg' %}" alt="loginpage" style="width: 70%"/></center>
                                <br><br>
                                <h4 class="text-center">Sign in to your account</h4>
                                <p class="text-center">Enter your email & password to login</p>
                                <div class="alertDiv"></div>
                                <form id="loginForm" class="theme-form">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="col-form-label">Username</label>
                                        <input class="form-control" type="text" name="username" required placeholder="Username" autocomplete="off"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Password</label>
                                        <div class="form-input position-relative">
                                            <input class="form-control" type="password" name="password" required placeholder="Password" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="form-group mb-0">
                                        <div class="checkbox p-0">
                                            <input id="checkbox1" type="checkbox" />
                                            <label class="text-muted" for="checkbox1">Remember password</label>
                                        </div>
                                        <button type="submit" id="submitBtn" class="btn btn-primary btn-block btn-lg w-100" type="submit">Sign in</button>
                                    </div>
                                </form>
                                <p class="mt-4 mb-0">© Copyright 2022 <strong>RICTMS</strong>. All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
            <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
            <script src="{% static 'js/icons/feather-icon/feather.min.js' %}"></script>
            <script src="{% static 'js/icons/feather-icon/feather-icon.js' %}"></script>
            <script src="{% static 'js/config.js' %}"></script>
            <script src="{% static 'js/script.js' %}"></script>
            <script>
                $(document).ready(function () {
                    $("#loginForm").on("submit", function (e) {
                        var form = new FormData(this);
                        $.ajax({
                            data: form,
                            url: '{% url 'login' %}',
                            type: "POST",
                            beforeSend: function () {
                                $("#submitBtn").prop('disabled', 'true');
                            },
                            success: function (response) {
                                if (response.data) {
                                    $("#submitBtn").prop('disabled', true);
                                    window.location.href = "{% if request.GET.next %}{{ request.GET.next }}{% else %}{% url 'home' %}{% endif %}";
                                } else {
                                    $(".alertDiv").html(
                                        `
                                        <div class="alert alert-danger dark" role="alert">
                                            <p><i class="fa fa-info-circle"></i> `+ response.msg +`</p>
                                        </div>
                                        `
                                    );
                                    $("#submitBtn").prop('disabled', false);
                                }
                            },
                            cache: false,
                            contentType: false,
                            processData: false,
                        });
                        e.preventDefault();
                    });
                });
            </script>
        </div>
    </body>
</html>
