{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>Data List</h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">User</li>
                    <li class="breadcrumb-item active">Transaction</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card" id="created_post_data">
                <div class="card-body" >
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-user-modal"><i class="fa fa-plus"></i> Post</button>
                    <br><br>
                    <table class="table table-sm table-bordered table-hover w-100" id="post-data">
                        <thead>
                            <th>Action</th>
                            <th class="text-center">Title</th>
                            <th class="text-center">Url</th>
                            <th class="text-center">Created By</th>
                            <th class="text-center">Date Created</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Service Type</th>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add-user-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header flex-column position-relative">
                <h5 class="modal-title f-w-700">Create post</h5>
                <small class="modal-subtitle">Please fill out the form below.</small>
                <button class="btn-close position-absolute" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="submitForm">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label>Title<span class="txt-danger">*</span></label>
                        <input type="text" class="form-control" id="title" name="title_post" autocomplete="off" required>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group mb-3">
                        <label>Url</label>
                        <input type="text" class="form-control" id="url" name="url" autocomplete="off">
                        <div class="invalid-url"></div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="Remarks" class="form-label">Remarks</label>
                        <textarea class="form-control" id="Remarks" name='remarks' rows="3"></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <input type="checkbox" class="form-check-input" name="is_active" id="is_active" required> Is active
                    </div>
                    <select class="form-control select" name="services" required>
                        <option></option>
                        <option value="Frontline Services">Frontline Services</option>
                        <option value="Non-Frontline Services">Non-Frontline Services</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script for="init">
    $(document).ready(function(){
        $('#post-data').DataTable({
            'serverSide': true,
            'processing': true,
            'deferRender': true,
            'lengthMenu': [ 10, 25, 50, 100 ],
            'order': [[ 2, 'desc' ]],
            'bDestroy': true,
            'ajax': {
                
                'url': '/api/created_post/list/?format=datatables',
                'type': 'GET',
            },
            'fnCreatedRow': function (row, data, index) {
                $(row).attr('id', data['id']);
            },
            'columns': [
                {'data': 'id',
                    'render': function(data, type, row, meta) {
                        return "<a href='javascript:void(0);' data-role='details' data-id='"+ row['id'] + "'>Details</a>"
                    },
                    'searchable': false,
                    'sortable': false
                },
                {'data': 'title','className': 'text-center'},
                {'data': 'url','className': 'text-center', 'searchable': false,'sortable': false},
                {'data': 'created_by','className': 'text-center', 'searchable': false,'sortable': false},
                {'data': 'date_created','className': 'text-center','searchable': false,'sortable': false},
                {'data': 'status',
                    'render': function(data, type, row, meta) {
                            if(data == 1) {
                                return 'Active'
                            }else if (data == 2) {
                                return 'Inactive'
                            }
                    },
                    'className': 'text-center',
                    'searchable': false,
                    'sortable': false
                },
                {'data': 'services_type','className': 'text-center','searchable': false,'sortable': false},
            ]
        });
    });
    $(document).on('click','a[data-role=direct]', function(){ // FOR MODAL SUMMARY
        var id = $(this).data('id');
        $('#monitoring').modal('show').find('#load_data').load('/patients/modal_monitoring/' +id);
    });
</script>
<script for="request">
        function validationForm(){
            var invalid = false;
            $('.form-control').each(function() {
                if (/<[a-z][\s\S]*>/i.test($(this).val())) {
                    $(this).addClass('is-invalid');
                    $(this).next('.invalid-feedback').html("The field cannot contain HTML tags.")
                    invalid = true;
                }
            });
            return invalid;
        }

        function clearValidation(){
            $('.form-control').each(function() {
                $(this).removeClass('is-invalid');
                $(this).next('.invalid-feedback').html("");
            });
        }

        $('#submitForm').on('submit', function(e){
            e.preventDefault();
            if (!validationForm()){
                var form = new FormData(this);
                Swal.fire({
                    title: "Are you sure",
                    text: "You want to post this?",
                    icon: "info",
                    showCancelButton: true,
                    confirmButtonText: "Yes",
                    allowOutsideClick: false,
                    showLoaderOnConfirm: true,
                    preConfirm: function (){
                        return $.post({
                            url: "{% url 'create_post' %}",
                            data: form,
                            success : function (response){
                                if(!response.error){
                                    Swal.fire({
                                        title: "Good job!",
                                        html:  response.msg,
                                        icon: "success",
                                        allowOutsideClick: false,
                                    }).then((result) => {
                                        if (result.isConfirmed){
                                            $('#submitForm').trigger('reset');
                                            $('#post-data').DataTable().ajax.reload();
                                            clearValidation();
                                            $('#add-user-modal').modal('hide');
                                        }
                                    });
                                } else {
                                    Swal.fire('Oops...', response.msg, 'warning');
                                }
                            },
                            cache       : false,
                            contentType : false,
                            processData : false,
                        });
                    },
                });
            }
        });
        $(document).on('click', 'a[data-role=details]', function(){
            $('#created_post_data').load('/create/post_data/' + $(this).data('id'));
        });
</script>
{% endblock %}